@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Dosis:400,200);

#displayTopLeft, #overlay {
	cursor: default;
	pointer-events: none;
	user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

#displayTopLeft {
	font-family: "Dosis", sans-serif;
	position: fixed;
	padding: 15px;
	top: 10px;
	font-size: 26px;
	background-color: white;
	opacity: 0.5;
	display: none;
}

#overlay {
	font-family: "Dosis", sans-serif;
	font-weight: 200;
	font-size: 7em;
	margin: 0.2em 0.5em;
	position: fixed;
	right: 0;
	top: 0;
	color: #FFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

video {
	display: block;
	min-height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
}
